.bg-night-fade {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%) !important;
}

.bg-happy-green {
    background-image: linear-gradient(to bottom, #00b09b, #96c93d) !important;
}

.bg-arielle-smile {
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%) !important;
}

.card-header {
    .justify-between {

        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}


.card-header {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.25rem;
    height: 3.5rem;
    font-weight: bold;
    font-size: .9rem;
    color: rgba(31, 10, 6, 0.6);
    background-color: #fff;

    text-transform: none;
    white-space: nowrap;

    .bi {
        font-size: large;
    }

    &:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }
}

.nav {
    margin-left: auto;

    .nav-link {
        display: block;
        color: #495057;
        padding: 17px 5px;
        text-decoration: none;
        position: relative;
        text-transform: none;

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 0;
            height: 4px;
            border-radius: 30px;
            background-color: #da624a;
            transform: translateX(-50%);
            transition: width 0.3s ease-in-out;
        }

        &:hover {
            color: #da624a;

            &::after {
                width: 100%;
            }
        }

        &.active {
            color: #da624a;

            &::after {
                width: 100%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.progress-glow {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(229, 231, 235, 0.1), rgba(229, 231, 235, 0.5), rgba(229, 231, 235, 0.1));
      animation: glowing 2s infinite;
}

@keyframes glowing {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.widget-chart-flex {
    display: flex;
    padding: 20px;

    .widget-numbers {
        font-weight: normal;
        font-size: 2.5rem;
        display: block;
        line-height: 1;
    }

    .widget-title {
        margin-top: auto;
        font-size: 1.1rem;
        color: #6c757d !important;
        opacity: .6;
    }
}

.text-muted {
    opacity: .5;
}

.scroll-area-sm {
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #e0e0e0;
    padding-right: 10px;
}

.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    font-size: large;
    white-space: nowrap;

    .bi {
        margin-right: 5px;
    }
}

.btn-actions-pane-right {
    margin-left: auto;
    white-space: nowrap;

    .nav {
        width: auto;
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    .border-0 {
        color: #5a2b72;
        border-radius: 50px;
        border-color: #794c8a;
        cursor: pointer;
        padding: .375rem 1.5rem;
        font-size: .81818rem;
        line-height: 1.5;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .border-0:hover {
        background-color: #6a3483;
        color: #fff;
        transform: scale(1.05);
    }

    .border-0.active {
        background-color: #5a2b72;
        border-color: #5a2b72;
        color: #fff;
    }

    .second-tab-toggle-alt:hover {
        background-color: #6a3483;
        transform: scale(1.05);
        color: #fff;
    }

    .second-tab-toggle-alt.active {
        border-color: #5a2b72;
        color: #fff;
    }
}